include "input.kdl"

include "outputs.kdl"

include "binds.kdl"

// TODO: switch-events

include "layout.kdl"

include "top-level.kdl"

include "window-rules.kdl"

include "layer-rules.kdl"

include "animations.kdl"

include "gestures.kdl"

include "recent-windows.kdl"
