input {
    keyboard {
        xkb {
            layout "us,de"
            options "grp:win_space_toggle"
            // options "grp:win_space_toggle,caps:swapescape,altwin:swap_lalt_lwin"
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }

    touchpad {
        // off
        tap
        dwt
        // dwtp
        // drag false
        drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="0%"
}
